modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["zip", "git-lfs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd projeto-copia && npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35519
externalPort = 5173

[[ports]]
localPort = 39851
externalPort = 3002

[[ports]]
localPort = 40859
externalPort = 5000

[[ports]]
localPort = 41769
externalPort = 3000

[[ports]]
localPort = 42381
externalPort = 4200

[[ports]]
localPort = 42519
externalPort = 6000

[[ports]]
localPort = 43723
externalPort = 3003

[[ports]]
localPort = 44153
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
build = ["bash", "-c", "cd projeto-copia && npm install && npm run build"]
run = ["bash", "-c", "npx serve projeto-copia/dist -l 5000"]
